*{
    padding: 0;
    margin: auto;
}

tr{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

body{
    background-color: antiquewhite;
}


table{
    width:100%;
}

.middletr{
    text-align: center;
}


.middletd{
    text-align: center;
}
